[submodule "Quest/vendor/glfw"]
	path = Quest/vendor/glfw
	url = https://github.com/alexsederquest98/glfw.git
	ignore = untracked
[submodule "Quest/vendor/fmt"]
	path = Quest/vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "Quest/vendor/imgui"]
	path = Quest/vendor/imgui
	url = https://github.com/alexsederquest98/imgui.git
	branch = docking
